SECRET_KEY=your_django_secret_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]

# Database Configuration (PostgreSQL)
DB_NAME=ecotrail_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Firebase Configuration
FIREBASE_PROJECT_ID=ecotrial-8b5e1
# FIREBASE_SERVICE_ACCOUNT_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=

# AI API Configuration
GEMINI_API_KEY=your_gemini_api_key_here
GROQ_API_KEY=your_groq_api_key_here

# Travel Data APIs
DUFFEL_API_TOKEN=your_duffel_api_token_here
ORS_API_KEY=your_ors_api_key_here
OPENTRIPMAP_API_KEY=your_opentripmap_api_key_here
OPENWEATHER_API_KEY=your_openweather_api_key_here
